In [30]:
import numpy as np
import pandas as pd
import os

df = pd.read_csv("musees.csv", sep=";", encoding="latin-1")
print("Voici un aperçu de notre beau DataFrame :\n\n", df)

Voici un aperçu de notre beau DataFrame :

           osm_id                                  name number  \
0     4540234591                               3 bis f    109
1     4388745689                      A casa di Losari    NaN
2     4426176194                      À l'homme volant     35
3     7652598615           Abbadiale - Maison des arts    NaN
4      121580330                                Abbaye    NaN
...          ...                                   ...    ...
3779  1348524503                    Vivarium du Moulin    NaN
3780   577287841  Voyage au Temps des impressionnistes    NaN
3781   145062184              Wines and Spirits Museum    NaN
3782    82988725                              Xanxotea    NaN
3783   277107550      Xylotheque - Kiosque Pedagogique    NaN

                          street  postal_code              city country  \
0     Avenue du Petit Barthélémy      13617.0   Aix-en-Provence  France
1                           T 30      20226.0         Belgodère  France
2                     Grande Rue      72300.0  Sablé-sur-Sarthe  France
3                 Rue du Gabizos      65400.0  Arras-en-Lavedan  France
4                Rue de l'Abbaye      39210.0    Château-Chalon  France
...                          ...          ...               ...     ...
3779              Rue Principale      68610.0  Thann-Guebwiller  France
3780                 Rue de Léry      95430.0   Auvers-sur-Oise  France
3781          Corniche Bonaparte      83150.0            Bandol  France
3782                    La Place      64240.0          Isturits  France
3783     Impasse de la Haie Vive      45590.0  Saint-Cyr-en-Val  France

     country_code        lat       lon                    website  \
0              fr  43.521207  5.439875       http://www.3bisf.com
1              fr  42.638732  9.007660                        NaN
2              fr  47.839656 -0.334043                        NaN
3              fr  42.990826 -0.128057  https://www.abbadiale.fr/
4              fr  46.753866  5.624296                        NaN
...           ...        ...       ...                        ...
3779           fr  47.942258  7.149613                        NaN
3780           fr  49.072057  2.166167                        NaN
3781           fr  43.128031  5.749484                        NaN
3782           fr  43.364834 -1.203580   http://www.xanxotea.com/
3783           fr  47.825888  1.967795                        NaN

                  email         phone  fax  \
0     contact@3bisf.com  3.344216e+10  NaN
1                   NaN           NaN  NaN
2                   NaN  3.324395e+10  NaN
3                   NaN  3.363317e+10  NaN
4                   NaN           NaN  NaN
...                 ...           ...  ...
3779                NaN           NaN  NaN
3780                NaN           NaN  NaN
3781                NaN           NaN  NaN
3782                NaN           NaN  NaN
3783                NaN           NaN  NaN

                                         tags  \
0             osm:museum;art:art contemporain
1                                  osm:museum
2     osm:museum;type:centre d'interpretation
3                                  osm:museum
4                 osm:museum;art:architecture
...                                       ...
3779                               osm:museum
3780                               osm:museum
3781                               osm:museum
3782                               osm:museum
3783                               osm:museum

                                            description        date_added  \
0                                                   NaN  44116,0076388889
1                                                   NaN  43338,9393981481
2                                                   NaN  42644,4636574074
3                                                   NaN  44120,0466782407
4                                                   NaN  43102,5491898148
...                                                 ...               ...
3779                                                NaN  40747,8717476852
3780                                                NaN  41141,7272222222
3781                                                NaN  42367,7135069444
3782  Musée ethnographique Xanxotea pour découvrir l...   44129,580775463
3783                                                NaN  43331,4758449074

     wikidata
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
3779      NaN
3780      NaN
3781      NaN
3782      NaN
3783      NaN

[3784 rows x 18 columns]

In [17]:
number_museums = df.shape[0]
print("Il y a", number_museums, "musées en France métropolitaine.")

Il y a 3784 musées en France métropolitaine.

In [25]:
city_max_museums = df['city'].mode()
print("La ville qui a le plus de musées est", city_max_museums.to_string(index=False) +".")

La ville qui a le plus de musées est Paris.

In [26]:
nb_museums_paris = df['city'].value_counts()['Paris']
print("En effet, Paris possède pas moins de", nb_museums_paris, "musées !")

En effet, Paris possède pas moins de 175 musées !

In [16]:
museums_by_city_mean = df['city'].value_counts().mean()
print("Si l'on considère uniquement les villes de France métropolitaine ayant au moins un musée, alors il y a une moyenne de", round(museums_by_city_mean, 2), "musées par ville.")

Si l'on considère uniquement les villes de France métropolitaine ayant au moins un musée, alors il y a une moyenne de 1.65 musées par ville.

In [15]:
museums_by_city_mean_all = number_museums / 34743
print("Si l'on considère toutes les villes de France métropolitaine (y compris celles qui n'ont pas de musée), alors il y a une moyenne de", round(museums_by_city_mean_all, 2), "musée par ville.")

Si l'on considère toutes les villes de France métropolitaine (y compris celles qui n'ont pas de musée), alors il y a une moyenne de 0.11 musée par ville.

In [17]:
museums_by_city_median = df['city'].value_counts().median()
print("Si l'on considère uniquement les villes de France métropolitaine ayant au moins un musée, alors la médiane du nombre de musées est de", round(museums_by_city_median, 2), "musée par ville.")

Si l'on considère uniquement les villes de France métropolitaine ayant au moins un musée, alors la médiane du nombre de musées est de 1.0 musée par ville.

In [2]:
import numpy as np
import pandas as pd
import os

df = pd.read_csv("musees.csv", sep=";", encoding="latin-1")

nb_cities_with_museum = df['city'].value_counts().shape[0]
print("Sachant qu'il y a 34 743 villes en tout en France métropolitaine, alors il nous faut le nombre de musées dans la ville classée 17 372ème selon le nombre décroissant de musées par ville.\nOr seules", nb_cities_with_museum,"villes de France métropolitaine ont au moins un musée, le reste n'en ont pas.\nSi l'on considère toutes les villes de France métropolitaine (y compris celles qui n'ont pas de musée), alors la médiane est de 0.")

Sachant qu'il y a 34 743 villes en tout en France métropolitaine, alors il nous faut le nombre de musées dans la ville classée 17 372ème selon le nombre décroissant de musées par ville.
Or seules 2295 villes de France métropolitaine ont au moins un musée, le reste n'en ont pas.
Si l'on considère toutes les villes de France métropolitaine (y compris celles qui n'ont pas de musée), alors la médiane est de 0.

In [99]:
tags_themes = df['tags']
tags_themes = tags_themes.str.split(';')
tags_themes = tags_themes.explode()
repartition_theme = tags_themes.value_counts().sort_index(ascending=False)
repartition_type = repartition_theme.head(24)
repartition_type_pct = repartition_type / repartition_type.sum()
df_repartition_type_pct = repartition_type_pct.sort_values(ascending=False)
df_repartition_type_pct = df_repartition_type_pct.to_frame(name='repartition')
df_repartition_type_pct.loc[:, 'repartition'] = df_repartition_type_pct['repartition'].map('{:.2%}'.format)
print("Voici la répartition par type des musées de France métropolitaine :\n\n", df_repartition_type_pct)

Voici la répartition par type des musées de France métropolitaine :

                                    repartition
type:ecomusee                           27.03%
type:musee technique et industriel      14.30%
type:musee d'histoire                   10.96%
type:musee de beaux-arts                 8.51%
type:musee d'art                         7.42%
type:musee archeologique                 7.42%
type:maison d'artiste                    4.42%
type:musee d'arts populaires             3.95%
type:musee d'histoire naturelle          3.88%
type:centre d'interpretation             3.13%
type:musee litteraire                    2.25%
type:musee de sciences                   1.57%
type:centre d'art                        1.36%
type:fondation                           1.23%
type:musee d'artiste                     1.02%
type:atelier d'artiste                   0.54%
type:bibliotheque                        0.27%
type:musee ethnographique                0.20%
type:musée de beaux-arts                 0.14%
type:type:musee d'arts populaires        0.14%
type:maison litteraire                   0.07%
type:musee d'architecture                0.07%
type:ecomuseum                           0.07%
type:musee d'art populaire               0.07%

In [63]:
nb_chateau = df["name"].str.startswith('Château').value_counts()
print(nb_chateau.loc[True], "musées ont un nom qui commence par 'Château'.")

57 musées ont un nom qui commence par 'Château'.

In [70]:
nb_napoleon = df["name"].str.contains('Napoléon').value_counts()
nb_bonaparte = df["name"].str.contains('Bonaparte').value_counts()
print(nb_napoleon.loc[True], "musées ont 'Napoléon' dans leur nom.\n(Et", nb_bonaparte.loc[True], "ont 'Bonaparte' !)")

4 musées ont 'Napoléon' dans leur nom.
(Et 2 ont 'Bonaparte' !)

In [71]:
nb_websites = df.website.notnull().sum()
print("Nous avons à disposition l'adresse du site web de", nb_websites, "musées.")

Nous avons à disposition l'adresse du site web de 1636 musées.

In [132]:
import math
postal_code = df['postal_code'].dropna().div(1000)
postal_code = [math.trunc(code) for code in df_postal_code['postal_code']]
postal_code_df = pd.DataFrame({'departements':postal_code})
#un musée (FLOW) avait un code postal erroné (590007 au lieu de 59000), il faut donc le corriger
postal_code_df = postal_code_df.replace([590],59)
repartition_departements = postal_code_df.value_counts().to_frame(name='nb_musees')
nb_dep_max = repartition_departements.max()
nom_dep_max = repartition_departements.idxmax()
print("Le département ayant le plus grand nombre de musées sur son territoire est le département", nom_dep_max[0], "avec", nb_dep_max[0], "musées.")
df_dep_min = repartition_departements.where(repartition_departements == repartition_departements.min()).dropna()
index = df_dep_min.index
nb_dep_min = df_dep_min.iat[0, 0]
print("Les départements ayant le plus petit nombre de musées sur leur territoire sont les départements", index[0], "et", index[1], "avec", int(nb_dep_min), "musées.")

Le département ayant le plus grand nombre de musées sur son territoire est le département (75,) avec 172 musées.
Les départements ayant le plus petit nombre de musées sur leur territoire sont les départements (48,) et (98,) avec 8 musées.

### Recommandation 1) : Ajouter des ratings
- <b>Données :</b> nombre d'étoiles sur 5 (5 étant la meilleure note)
- <b>Source :</b> Google Maps, Tripadvisor
- <b>Apport :</b> permettre au public d'évaluer l'intérêt d'un musée avant toute visite

### Recommandation 2) : Identifier les musées nationaux
- <b>Données :</b> indiquer si le musée fait partie des musées nationaux (placés sous la tutelle administrative du Service des Musées de France du ministère de la Culture, et caractérisés par la détention, la conservation et la valorisation de collections nationales).
- <b>Source :</b> https://www.culture.gouv.fr/Thematiques/Musees/Les-musees-en-France/Les-musees-de-France/Les-musees-nationaux-le-reseau-des-musees-detenteurs-des-collections-nationales
- <b>Apport :</b> identifier des musées gratuits pour des publics prioritaires (moins de 18 ans, 18/25 ans ressortissants de l'UE, étudiants en histoire de l'art, personnes handicapées, porteurs d'un Pass éducation...)